@font-face {
    font-family: 'Golos UI';
    src: url('../fonts/Golos-UI_Bold.ttf');
}
@font-face {
    font-family: 'Golos UI';
    src: url('../fonts/Golos-UI_Medium.ttf');
}
@font-face {
    font-family: 'Golos UI';
    src: url('../fonts/Golos-UI_Regular.ttf');
}
@font-face {
    font-family: 'Golos UI';
    src: url('../fonts/Golos-UI_VF.ttf');
}