@import url("_responsive.scss");
@font-face {
  font-family: "Golos UI";
  src: url("../fonts/Golos-UI_Bold.ttf");
}
@font-face {
  font-family: "Golos UI";
  src: url("../fonts/Golos-UI_Medium.ttf");
}
@font-face {
  font-family: "Golos UI";
  src: url("../fonts/Golos-UI_Regular.ttf");
}
@font-face {
  font-family: "Golos UI";
  src: url("../fonts/Golos-UI_VF.ttf");
}
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Golos UI", sans-serif;
}

a,
input,
label,
textarea,
span,
button {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.list_link {
  margin-top: 28.5px;
  gap: 8px;
  color: #F64909;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
}

.contact {
  padding-bottom: 56px;
}
.contact .contact_title .contact_title_in {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 26px;
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.contact .contact_wrapper {
  margin-bottom: 24px;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card {
  padding: 38px 32px 49px 26px;
  border-radius: 16px;
  background: #F64909;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card h4 {
  margin-bottom: 51px;
  margin-top: 26px;
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card p {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card a {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .contact_location {
  margin-bottom: 67px;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .contact_location p {
  margin-left: 6px;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .contact_phone {
  margin-bottom: 36px;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .contact_phone img {
  margin-right: 20px;
  display: block;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .contact_whatsapp {
  margin-bottom: 36px;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .contact_whatsapp img {
  margin-right: 20px;
  display: block;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .contact_mail {
  margin-bottom: 59px;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .contact_mail img {
  margin-right: 20px;
  display: block;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .button_groups .contact_btn {
  cursor: pointer;
  transition: 0.5s linear;
  height: 40px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  flex-basis: 350px;
  background-color: transparent;
  border-radius: 35px;
  border: 2px solid white;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .button_groups .contact_btn:hover {
  background-color: white;
  color: #F64909;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .button_groups .contact_btn:active {
  border-radius: 100px;
  border: 2px solid #FFF;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card .button_groups .media_social {
  white-space: nowrap;
  margin-left: auto;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card_map {
  overflow: hidden;
  border-radius: 16px;
  height: 100%;
}
.contact .contact_wrapper .contact_card_wrapper .contact_card_map iframe {
  width: 100%;
  height: 100%;
}

.certificates .certificates_title {
  margin-left: 26px;
}
.certificates .certificates_title h3 {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-bottom: 28px;
  margin-top: 40px;
}
.certificates .certificates_title p {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-bottom: 58px;
}
.certificates .certificates_wrapper .certificates_card {
  margin-bottom: 24px;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #F64909;
}
.certificates .certificates_wrapper .certificates_card img {
  width: 100%;
}

.awards .awards_title {
  margin-left: 26px;
}
.awards .awards_title h4 {
  margin-top: 28px;
  margin-bottom: 40px;
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.awards .awards_title p {
  margin-bottom: 58px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
}
.awards .awards_wrapper .awards_card {
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #F64909;
  margin-bottom: 24px;
}
.awards .awards_wrapper .awards_card img {
  width: 100%;
}

.news .news_title h4 {
  margin: 40px 0 40px 26px;
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.news .news_tabs {
  margin-bottom: 58px;
}
.news .news_tabs .new_tab_link {
  margin-bottom: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F64909;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 16px;
  border: 3px solid #F64909;
  background: transparent;
  transition: 0.5s linear;
}
.news .news_tabs .new_tab_link:hover {
  background-color: #F64909;
  color: white;
}
.news .news_tabs .new_tab_link:active {
  border-radius: 16px;
  border: 3px solid #F64909;
  background: #F64909;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.news .news_tabs .new_active {
  border-radius: 16px;
  border: 3px solid #F64909;
  background: #F64909;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: white;
}
.news .news_article_wrapper {
  margin-top: 40px;
}
.news .news_card .news_content {
  position: relative;
}
.news .news_card .news_content .new_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(35px, -40px);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 98px;
  border-radius: 100px;
  background: #F64909;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.news .news_card .news_content .new_btn img {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
.news .news_card .news_content .new_btn_two {
  transform: translate(-55px, 0);
}
.news .news_card .news_content_img {
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
}
.news .news_card .news_content_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .news_card .news_text span {
  margin-top: 28px;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.news .news_card .news_text h4 {
  margin-top: 28px;
  margin-bottom: 24px;
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.news .news_card .news_text p {
  margin-bottom: 28px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.4px;
}
.news .news_card .news_text .news_article {
  margin-top: 58px;
}
.news .news_card .news_text .news_text_bottom {
  margin-bottom: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news .news_card .news_text .news_text_bottom .news_link_next {
  width: 224px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border-radius: 100px;
  background: #F64909;
  transition: 0.5s linear;
}
.news .news_card .news_text .news_text_bottom .news_link_next:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.news .news_card .news_text .news_text_bottom .news_link_prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224px;
  height: 40px;
  color: #F64909;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border-radius: 100px;
  border: 2px solid #F64909;
  background: #FFF;
  transition: 0.5s linear;
}
.news .news_card .news_text .news_text_bottom .news_link_prev:hover {
  background-color: #F64909;
  color: #FFF;
}
.news .news_card .news_text .news_text_bottom .news_link_prev:active {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.news .news_card .news_text .news_text_bottom span {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.news .news_card .news_text .news_text_bottom .news_link {
  overflow: hidden;
  color: #F64909;
  text-align: right;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}

@media screen and (max-width: 992px) {
  .contact .contact_title {
    margin-left: 0;
  }
  .contact .contact_title .contact_title_in {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.6px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card {
    margin-bottom: 20px;
    padding: 50px 18px 54px 27px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card a img {
    width: 70px;
    height: 70px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card h4 {
    margin-top: 30px;
    margin-bottom: 62px;
    font-size: 32px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card p {
    font-size: 24px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card a {
    font-size: 24px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card .contact_location {
    margin-bottom: 89px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card .button_groups .contact_btn {
    flex-basis: 270px;
    font-size: 13px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card_map {
    height: 602px;
  }
  .certificates .certificates_title {
    margin-left: 0;
  }
  .certificates .certificates_title h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 18px;
  }
  .certificates .certificates_title p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .awards .awards_title {
    margin-left: 0;
  }
  .awards .awards_title h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 18px;
  }
  .awards .awards_title p {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .contact .contact_title .contact_title_in {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.6px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card {
    padding: 30px 10px 35px 16px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card a img {
    width: 70px;
    height: 70px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card h4 {
    margin-top: 12px;
    margin-bottom: 39px;
    font-size: 26px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card p {
    font-size: 20px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card a {
    font-size: 20px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card .contact_location {
    margin-bottom: 58px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card .contact_location img {
    width: 54px;
    height: 54px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card .contact_phone {
    margin-bottom: 28px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card .contact_whatsapp {
    margin-bottom: 28px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card .button_groups .contact_btn {
    flex-basis: 240px;
    font-size: 12px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card .button_groups .media_social a img {
    width: 40px;
    height: 40px;
  }
  .contact .contact_wrapper .contact_card_wrapper .contact_card_map {
    height: 602px;
  }
}/*# sourceMappingURL=style.css.map */